@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

  :root {
   background: #fdfdfd;
    --foreground: #000000;
  
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pixel), sans-serif;
}
.nav {
  background-color: #7BD3EA;
} 
.button {
  background-color: #A1EEBD;
}

.card {
  background-color: #F6F7C4;
}